{{! Template para generar Pre-Aviso en formato PDF/HTML }}
{{! Estructura según PROMPT 2: ESTRUCTURA FIJA DEL PRE-AVISO }}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SOLICITUD DE CERTIFICADO CON EFECTO DE PRE-AVISO</title>
  <style>
    @page {
      size: letter;
      margin: 2.5cm;
    }
    body {
      font-family: 'Times New Roman', serif;
      font-size: 12pt;
      line-height: 1.6;
      color: #000;
      margin: 0;
      padding: 0;
    }
    .header {
      text-align: center;
      margin-bottom: 30px;
    }
    .notary-info {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .title {
      font-size: 16pt;
      font-weight: bold;
      text-align: center;
      margin: 20px 0;
      text-decoration: underline;
    }
    .date {
      margin: 20px 0;
    }
    .addressee {
      text-align: center;
      margin: 30px 0;
      font-weight: bold;
    }
    .legal-basis {
      margin: 20px 0;
      text-align: justify;
    }
    .acts {
      margin: 20px 0;
    }
    .act-item {
      margin: 15px 0;
      padding-left: 20px;
    }
    .act-number {
      font-weight: bold;
    }
    .property-object {
      margin: 20px 0;
    }
    .property-item {
      margin: 10px 0;
    }
    .closing {
      text-align: center;
      margin: 30px 0;
      font-weight: bold;
    }
    .signature {
      margin-top: 50px;
    }
    .signature-line {
      border-top: 1px solid #000;
      width: 300px;
      margin: 40px 0 10px 0;
    }
    .signature-name {
      font-weight: bold;
    }
  </style>
</head>
<body>
  {{! 1. Encabezado del notario }}
  <div class="header">
    <div class="notary-info">
      NOTARÍA PÚBLICA NÚMERO {{notaria.numero}}<br>
      {{notaria.nombre}}<br>
      {{notaria.ciudad}}, {{notaria.estado}}
    </div>
  </div>

  {{! 2. Título del documento }}
  <div class="title">
    SOLICITUD DE CERTIFICADO CON EFECTO DE PRE-AVISO
  </div>

  {{! 3. ANTECEDENTES REGISTRALES }}
  <div class="date">
    En {{notaria.ciudad}}, {{notaria.estado}}, a los {{fecha.dia}} días del mes de {{fecha.mes}} de {{fecha.ano}}.
  </div>

  <div class="addressee">
    C. DIRECTOR DEL REGISTRO PÚBLICO<br>
    DE LA PROPIEDAD Y DEL COMERCIO.<br>
    P R E S E N T E.
  </div>

  {{! 4. Párrafo legal del art. 2885 }}
  <div class="legal-basis">
    Con fundamento en lo dispuesto en el artículo 2,885 del Código Civil del Estado de Baja California, ante mi fe se pretenden otorgar LOS SIGUIENTES ACTOS JURÍDICOS:
  </div>

  {{! 5. Actos jurídicos numerados (romanos) }}
  <div class="acts">
    {{#if actos.cancelacionHipoteca}}
    <div class="act-item">
      <span class="act-number">I.</span> CANCELACIÓN DEL CRÉDITO DEL VENDEDOR:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- Vendedor: {{vendedor.nombre}}{{#if vendedor.denominacion_social}} ({{vendedor.denominacion_social}}){{/if}}<br>
      {{#if vendedor.institucionCredito}}&nbsp;&nbsp;&nbsp;&nbsp;- Institución crediticia: {{vendedor.institucionCredito}}<br>{{/if}}
      {{#if vendedor.numeroCredito}}&nbsp;&nbsp;&nbsp;&nbsp;- Número de crédito: {{vendedor.numeroCredito}}<br>{{/if}}
      &nbsp;&nbsp;&nbsp;&nbsp;- Objeto: Cancelar el crédito o hipoteca que grava el inmueble objeto de la compraventa.
    </div>
    {{/if}}

    {{#if actos.compraventa}}
    <div class="act-item">
      <span class="act-number">{{#if actos.cancelacionHipoteca}}II{{else}}I{{/if}}.</span> COMPRAVENTA DE INMUEBLE:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- Vendedor: {{vendedor.nombre}}{{#if vendedor.denominacion_social}} ({{vendedor.denominacion_social}}){{/if}}<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- Comprador: {{comprador.nombre}}{{#if comprador.denominacion_social}} ({{comprador.denominacion_social}}){{/if}}<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- Inmueble: {{inmueble.direccion}}<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- Valor: ${{inmueble.valor}}<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- Objeto: Transmitir la propiedad del inmueble del vendedor al comprador.
    </div>
    {{/if}}

    {{#if actos.aperturaCreditoComprador}}
    <div class="act-item">
      <span class="act-number">{{#if actos.cancelacionHipoteca}}{{#if actos.compraventa}}III{{else}}II{{/if}}{{else}}{{#if actos.compraventa}}II{{else}}I{{/if}}{{/if}}.</span> APERTURA DE CRÉDITO DEL COMPRADOR:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- Comprador: {{comprador.nombre}}{{#if comprador.denominacion_social}} ({{comprador.denominacion_social}}){{/if}}<br>
      {{#if comprador.institucionCredito}}&nbsp;&nbsp;&nbsp;&nbsp;- Institución crediticia: {{comprador.institucionCredito}}<br>{{/if}}
      {{#if comprador.montoCredito}}&nbsp;&nbsp;&nbsp;&nbsp;- Monto: {{comprador.montoCredito}}<br>{{/if}}
      &nbsp;&nbsp;&nbsp;&nbsp;- Objeto: Constituir hipoteca o garantía sobre el inmueble adquirido para garantizar el crédito otorgado.
    </div>
    {{/if}}
  </div>

  {{! 6. OBJETO DE LA COMPRAVENTA / TRANSMISIÓN Y GARANTÍA }}
  <div class="property-object">
    <div class="title">
      {{#if actos.aperturaCreditoComprador}}
      OBJETO DE LA COMPRAVENTA Y GARANTÍA
      {{else}}
      OBJETO DE LA COMPRAVENTA
      {{/if}}
    </div>

    {{! 7. Descripción del inmueble (factual, sin interpretar) }}
    <p>El inmueble objeto de la presente solicitud se identifica de la siguiente manera:</p>

    <div class="property-item">
      1. UBICACIÓN: {{inmueble.direccion}}<br>
      2. FOLIO REAL: {{inmueble.folioReal}}{{#if inmueble.seccion}}, Sección {{inmueble.seccion}}{{/if}}{{#if inmueble.partida}}, Partida {{inmueble.partida}}{{/if}}<br>
      3. SUPERFICIE: {{inmueble.superficie}} metros cuadrados<br>
      4. VALOR DE LA OPERACIÓN: ${{inmueble.valor}}<br>
      {{#if inmueble.lote}}5. LOTE: {{inmueble.lote}}<br>{{/if}}
      {{#if inmueble.manzana}}6. MANZANA: {{inmueble.manzana}}<br>{{/if}}
      {{#if inmueble.fraccionamiento}}7. FRACCIONAMIENTO: {{inmueble.fraccionamiento}}<br>{{/if}}
      {{#if inmueble.colonia}}8. COLONIA: {{inmueble.colonia}}<br>{{/if}}
      {{#if inmueble.condominio}}9. CONDOMINIO: {{inmueble.condominio}}<br>{{/if}}
      {{#if inmueble.unidad}}10. UNIDAD: {{inmueble.unidad}}<br>{{/if}}
      {{#if inmueble.modulo}}11. MÓDULO: {{inmueble.modulo}}<br>{{/if}}
    </div>

    <p>El inmueble se encuentra debidamente inscrito en el Registro Público de la Propiedad y del Comercio del Estado de Baja California.</p>
  </div>

  {{! 8. Cierre }}
  <div class="closing">
    TIJUANA, B. C., AL MOMENTO DE SU PRESENTACIÓN.
  </div>

  {{! 9. Firma del notario }}
  <div class="signature">
    <div class="signature-line"></div>
    <div class="signature-name">
      {{notaria.nombre}}<br>
      NOTARIO PÚBLICO NÚMERO {{notaria.numero}}<br>
      {{notaria.ciudad}}, {{notaria.estado}}
    </div>

    <p style="margin-top: 30px;">CERTIFICO: Que la presente solicitud ha sido debidamente autorizada y firmada en mi presencia, en la fecha y lugar antes señalados.</p>

    <div class="signature-line"></div>
    <div class="signature-name">
      {{notaria.nombre}}<br>
      NOTARIO PÚBLICO NÚMERO {{notaria.numero}}<br>
      {{notaria.ciudad}}, {{notaria.estado}}
    </div>
  </div>
</body>
</html>

